## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd
x = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
print(x)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

##  Q3. Create a Pandas DataFrame that contains the following data:

###          Name      Age      Gender
####         Alice     25       Female
####         Bob       30       Male
####         Claire    27     Female

##      Then, print the DataFrame.

In [4]:
import pandas as pd
data = {'Name':['Alice', 'Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender':['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


### Ans-  Dataframe:- A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns and A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.

In [5]:
# Example of pandas.series

import pandas as pd
fruit = pd.Series(["apples", "oranges", "bananas"])
print(fruit)

0     apples
1    oranges
2    bananas
dtype: object

In [17]:
# Example of pandas.DataFrame

import pandas as pd
fruits_list = {'fruits_name':["Apples", "Oranges", "Grapes"], 
               'quantityIn_kg':[20,25,30], 
               'pricePer_kg' :[80,85,120]}

df2= pd.DataFrame(fruits_list)
print(df2)

  fruits_name  quantityIn_kg  pricePer_kg
0      Apples             20           80
1     Oranges             25           85
2      Grapes             30          120

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [34]:
# These the are some common function you cna use to manipulate data in a pandas DataFrame.  
'''
1. read_csv()
2. head()
3. tail()
4. shape()
5. describe()
6. dropna()
7. merge()
8. rename()
9. sort_values()
10. read_excel()
11. read_html()
'''
# Example of rename().
import pandas as pd

data = { "age": [25, 24, 23], "qualified": [True, False, False]}

student_name = ["Nitish", "amit", "sumit"]
df = pd.DataFrame(data, index=student)

df1 = df.rename({"Nitish": "prince", "amit": "aman", "sumit": "abhinav"})

print(df1)

         age  qualified
Pete      50       True
Patrick   40      False
Paula     30      False

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Ans:-
### DataFrames:- It is a two-dimensional array with heterogeneous data.DataFrames Have both value-mutable and size-mutable.
### Series:- It is a one-dimensional array like structure with homogeneous data.Series is only value-mutable, not size-mutable.The length of a Series cannot be changed although the values can be changed.
### Panel:- It is a three-dimensional data structure with heterogeneous data. It is hard to represent the panel in graphical representation. But a panel can be illustrated as a container of DataFrame.Size Mutable,Data Mutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

### Ans:-We can create a DataFrame from multiple Series objects by adding each series as a columns.By using concat() method you can merge multiple series together into DataFrame. This takes several params, for our scenario we use list that takes series to combine and axis=1 to specify merge series as columns instead of rows.

In [21]:
# Example of DataFrame using multiple Series.

import pandas as pwskills

courses = pwskills.Series(["data structure","java","data science masters"])
fees = pwskills.Series([2500,3000,3500])
discount  = pwskills.Series([250,300,350])

df=pwskills.concat([courses,fees],axis=1)

df=pwskills.concat([courses,fees,discount],axis=1)
print(df)

                      0     1    2
0        data structure  2500  250
1                  java  3000  300
2  data science masters  3500  350